.container {
    padding-top: 70px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000;
}

.containerWebGroup {
    padding-bottom: 53px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000;
}

.containerMobileGroup {
    display: flex;
    justify-content: center;
}

.card {
    width: 425px;
    border-radius: 1%;
    background-color: #000;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}

.img {
    width: 425px;
    height: 65%;
    border-radius: 1%;
}

.btn:hover {
    transform: scale(1.1)
}

@media screen and (max-width: 1075px) {
    .containerWebGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 640px) {
    .containerWebGroup {
        padding-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .containerWebGroup {
        text-align: center;
    }
    .img {
        width: 350px;
    }
    .card {
        width: 360px;
    }
}

@media screen and (max-width: 365px) {
    .img {
        width: 330px;
    }
    .card {
        width: 320px;
    }
}