.containerInicio1 {
    position: absolute;
    left: 8%;
    bottom: 15%;
    width: 300px;
    height: 410px;
    border-radius: 3%;
}

.containerInicio1 p {
    color: rgb(228, 227, 227);
}

.containerInicio2 {
    position: absolute;
    left: 35%;
    bottom: 45%;
    width: 300px;
    height: 220px;
    border-radius: 3%;
}

.containerInicio3 {
    position: absolute;
    left: 35%;
    bottom: 21%; 
    width: 850px;
    height: 120px;
    border-radius: 1%;
}

.containerInicio4 {
    position: absolute;
    left: 8%;
    bottom: 5%; 
    width: 400px;
    height: 80px;
    border-radius: 1%;
    display: flex;
    align-items: center;
}

.containerInicio5 {
    position: absolute;
    left: 82%;
    bottom: 5%; 
    width: 200px;
    height: 80px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: right;
}